.work1 {
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

.design {
  height: 60px;
}

.develop {
  height: 60px;
}

.work3 {
  color: white;
}

.work2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  text-align: center;
}
/* .work {
  display: flex;
  justify-content: space-evenly;
}

.work2 {
  padding: 20px;
}

.work4 {
  padding: 20px;
} */
